/* <div class="checkbox">
  <label>
    <input type="checkbox"/>
    <span class="checkbox"></span>
  </label>
</div> */

  .checkbox *,
  .checkbox *::before,
  .checkbox *::after {
    box-sizing: border-box;
  }

  .checkbox label {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .checkbox input {
    visibility: hidden;
    display: none;
  }

  .checkbox input:checked ~ .checkbox {
   transform: rotate(45deg);
   width: 14px;
   margin-left: 12px;
   border-color: #24c78e;
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
  }

  .checkbox .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
  }
