body {
  background: linear-gradient(
    70deg,
    hsl(240deg 35% 84%) 0%,
    hsl(254deg 33% 81%) 9%,
    hsl(268deg 31% 79%) 18%,
    hsl(281deg 30% 76%) 27%,
    hsl(290deg 28% 74%) 36%,
    hsl(289deg 27% 73%) 45%,
    hsl(287deg 26% 71%) 55%,
    hsl(286deg 25% 70%) 64%,
    hsl(280deg 25% 70%) 73%,
    hsl(271deg 26% 69%) 82%,
    hsl(263deg 27% 69%) 91%,
    hsl(255deg 28% 68%) 100%
  );
}
.upper {
  position: relative;
  top: 10%;
  width: 100%;
  height: 30vmax;
}
.header {
  text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.3);
  font-family: "Lilita One", cursive;
  width: 20%;
  color: #cbecf7;
  text-align: center;
  font-size: 55px;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}

.border1 {
  border-bottom: 3px #95a6a5 solid;
  position: absolute;
  right: 60%;
  width: 40%;
  height: 23%;
}
.border2 {
  border-bottom: 3px #95a6a5 solid;
  position: absolute;
  left: 60%;
  width: 40%;
  height: 23%;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 40px;
    width: 33%;
  }
  .border1 {
    width: 33%;
    right: 70%;
    height: 30% ;
  }
  .border2 {
    width: 33%;
    left: 70%;
    height: 30% ;
    ;
  }
}
/* font-family: 'Questrial', sans-serif; */
